{% extends 'master.html' %}

{% load static %}

{% block title %}
<title>Flex Appeal || Workout Completed</title>
{% endblock %}

{% block content %}
<style type="text/css">
    /* Custom submit button styling */
    .btn-custom {
      background-color: #ed563b;
      border: none;
      padding: 15px;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: background-color 0.3s ease;
      color: white;
    }
  
    .btn-custom:hover {
      background-color: white;
      color: #ed563b;
      border: 1px solid #ed563b;
    }
</style>

<div class="d-flex justify-content-center pt-5" style="min-height: 100vh;">
    <div class="container text-center mt-5">
        <h2>Congratulations!</h2>
        <p>You have completed your 1 Week Workout plan.</p>

        <a href="{% url 'workout_session' %}" class="btn btn-primary">Start New Routine</a>
        <a href="{% url 'workout_progress' %}" class="btn btn-custom btn-sm mt-4">View Workout Progress</a>
    </div>
</div>
{% endblock %}
