{% load static %}

<style>
    .main-button button {
        display: inline-block;
        font-size: 15px;
        padding: 12px 20px;
        background-color: #ed563b;
        color: #fff;
        text-align: center;
        font-weight: 400;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        transition: all 0.3s;
    }

    .main-button button:hover {
        background-color: #f9735b;
    }
</style>

<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <video autoplay muted loop id="bg-video" class="w-100">
        <source src="{% static 'images/2.mp4' %}" type="video/mp4" />
    </video>

    <div class="video-overlay header-text d-flex flex-column justify-content-center align-items-center">

        {% if request.user.is_authenticated %}
        <div class="caption text-center text-white p-4">
            <h6 class="mb-3">Welcome back, <strong>{{ request.user.username }}</strong>!</h6>
            <h2 class="mb-4">Unlock Your <em>Personalized Workout Plan</em></h2>

            <!-- Display the continue workout button if there is an ongoing session -->
            

            <!-- Display the recommendations button only if the workout session is complete -->
            {% if not request.session.has_unfinished_workout %}
            <div class="mt-3">
                <label for="fillFormButton" class="form-label text-white">Looking for a new routine?</label>
                <div class="main-button">
                    <a id="fillFormButton" href="{% url 'recommend' %}" class="main-button">Get Your Recommendations</a>
                </div>
            </div>
            {% endif %}

            <!-- <div class="mt-3">
                <label for="fillFormButton" class="form-label text-white">Looking for a new routine?</label>
                <div class="main-button">
                    <a id="fillFormButton" href="{% url 'recommend' %}" class="main-button">Get Your Recommendations</a>
                </div>
            </div> -->

            {% if has_profile %}
            <div class="mt-3">
                <label for="fillFormButton" class="form-label text-white"></label>
                <div class="main-button">
                    <a id="fillFormButton" href="{% url 'dashboard' %}" class="main-button">Go to Dashboard</a>
                </div>
            </div>
            {% endif %}

        </div>

        {% else %}

        <div class="caption text-center text-white p-4">
            <h6 class="mb-2">Work harder, get stronger</h6>
            <h2 class="mb-4">Achieve your goals with <em>our gym</em></h2>
            <div class="main-button">
                <a href="{% url 'register' %}" class="main-button">Join Us Today</a>
            </div>
        </div>

        {% endif %}

    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
