{% extends 'admin/change_list.html' %}

{% block extrahead %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        /* Style the chart container */
        .chart-container {
            width: 100%;
            max-width: 900px;  /* You can adjust the max-width based on your preference */
            margin: 30px auto;  /* Centers the container horizontally and adds vertical spacing */
            padding: 20px;
            background-color: #f9f9f9;  /* Light background color */
            border-radius: 10px;  /* Rounded corners for a modern look */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Optional subtle shadow effect */
        }

        /* Ensure the canvas takes full width of its container */
        canvas {
            width: 100% !important;
            height: auto !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="chart-container">
        <canvas id="sessionProgressChart"></canvas>
    </div>

    {{ block.super }}

    <script>
            var workoutTitles = {{ workout_titles|safe }};
            var sessionCounts = {{ session_counts|safe }};

            var ctx = document.getElementById('sessionProgressChart').getContext('2d');
            var sessionProgressChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: workoutTitles,
                    datasets: [{
                        label: 'Workout Session Distribution',
                        data: sessionCounts,
                        backgroundColor: [
                            'rgba(75, 192, 192, 0.6)',
                            'rgba(255, 99, 132, 0.6)',
                            'rgba(255, 206, 86, 0.6)',
                            'rgba(54, 162, 235, 0.6)',
                            'rgba(153, 102, 255, 0.6)',
                            'rgba(255, 159, 64, 0.6)'
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 1)',
                            'rgba(255, 99, 132, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        tooltip: {
                            enabled: true,
                        }
                    }
                }
            });
    </script>
{% endblock %}
